*
{
    box-sizing: border-box;
}

/*MOBIL*/
@media(max-width: 767px)
{
    body
    {
        background-color: blueviolet;
    }   
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px)
{
    body
    {
        background-color: darkorange;
    }  
}
    
/*NORMAL DESKTOP*/
@media (min-width: 1024px)
{
    body
    {
        background-color: crimson;
    }  
}